::-webkit-scrollbar {
    display: none;
}

html,body{
    margin:0px;
}

#heading{
  font-size: 30px;
}


#toggle-button-outer-container{
    height:20px;
    width:60px;
    border-radius: 6px;
    border:1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: justify-content 1s ease-in-out;
}

#toggle-button-inner-container{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: black;
 
}

#outer-container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}